.toggle{
  width: 200px;
  height: 100px;
  cursor: pointer;
  font-size: 12px;
  color: #00FF99;
}
.toggle span{
  color: #00CC99;
}
.ctl{
  width: 80%;
  z-index: 66;
  margin-top: 300px;
  margin-left: 120px;
  position: absolute;

}
.third{
  display: none;
}
.bg{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
}
#player{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -66;
  display: none;
}
#getvip{
  font-size: 22px;
  width: 75%;
  margin: 0 auto;
  float: left;
  line-height: 45px;
  color: #ccc;
  margin-top: -2px;
  border-bottom:1px #ccc solid;
}
#start {
  width: 20%;
  float: right;
}
.copyright {
  text-align: center;
  color: #eee;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  margin-bottom: 6px;
  margin-left: 560px;
  width: 200px;
}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btn {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn:nth-of-type(5) {
    margin-right: 0;
  }
}
.btn:hover {
  text-decoration: none;
}





.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
